
/* Group 48 */

position: absolute;
width: 166px;
height: 258px;
left: -37px;
top: 39.5px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Dropdown */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 10px;

position: absolute;
width: 166px;
height: 258px;
left: -37px;
top: 39.5px;

background: rgba(183, 174, 219, 0.28);
backdrop-filter: blur(17.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;


/* Frame 2147246581 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
gap: 10px;

width: 150px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2147246582 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
gap: 10px;

width: 150px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2147246583 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
gap: 10px;

width: 150px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2147246584 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
gap: 10px;

width: 150px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2147246585 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 10px;
gap: 10px;

width: 150px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2147246587 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 10px;
gap: 10px;
isolation: isolate;

width: 150px;
height: 32px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Menu */

width: 100px;
min-width: 60px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Frame */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 37.49%;
bottom: 37.51%;

border: 1.66667px solid #000000;


/* Dropdown */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px;
gap: 10px;

position: absolute;
display: none;
width: 156px;
height: 132px;
left: 168px;
top: calc(50% - 132px/2 + 50px);


border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
